<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IReconWcfService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ReconWinService/ReconService2"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IReconWcfService"
                contract="ServiceReference1.IReconWcfService" name="NetNamedPipeBinding_IReconWcfService">
                <identity>
                    <servicePrincipalName value="" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>